@keyframes shine {
  from {
    left: -250px;
  }
  to {
    left: 100%;
  }
}

@keyframes shineRotate {
  from {
    top: -250px;
  }
  to {
    top: 100%;
  }
}

.skeleton {
  &__item {
    position: relative;
    background: white;

    @for $i from 1 through 8 {
      overflow: hidden;

      &:nth-child(#{$i}n):before {
        animation-delay: #{$i * 0.03}s;
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: -250px;
      width: 250px;
      height: 100%;
      animation-name: shine;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      background-image: linear-gradient(
        90deg,
        transparent 0%,
        rgba($gray4, 0.3) 50% 3%,
        transparent 100%
      );
    }

    &--rotate:before {
      left: 0;
      top: -250px;
      height: 250px;
      width: 100%;
      animation-name: shineRotate;

      background-image: linear-gradient(
        0deg,
        transparent 0%,
        rgba($gray4, 0.3) 50% 3%,
        transparent 100%
      );
    }
  }
}
